body{
    min-height: 100;
    display: flex;
    flex-direction: column;
    background: #000;
}
main{
    flex-grow: 1;
}
h2{
    font: family;
    color: bisque;
}
.text-azul{

}
.btn-azul{
    background: blue;
    color: aliceblue;
}
.btn-azul:hover{
background: blue;
}

.btn-red{
    background: red;
    color: aliceblue;
}

.btn-red:hover{
    background: red;
}
.btn-gris{
    background: gray;
    color: aliceblue;
}